<div class="loading-indicator" *ngIf="processing | async">
  <mat-spinner *ngIf="processing | async"></mat-spinner>
  <!--<div class="example-rate-limit-reached" *ngIf="isRateLimitReached">-->
  <!--API rate limit has been reached. It will be reset in one minute.-->
  <!--</div>-->
  <div style="position:relative; top: -60px; left: 30px;">
    <!--{{ showText }}-->
  </div>
</div>
<div class="mb-20" fxLayout="row">
  <div fxFlex="25%">
    <mat-tree #diskTree [dataSource]="dataSource" [treeControl]="treeControl">

      <!-- Catalog节点 -->
      <mat-tree-node *matTreeNodeDef="let node; when: isOrg" (click)="catalogNodeClicked($event, node)">

        <div matTreeNodeToggle *ngIf="node.type === 1">
          <button mat-icon-button class="mat-tree-expand-button">
            <mat-icon>
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <button *ngIf="node.type !== 1" mat-icon-button style="width: 24px">
          </button>
        </div>

        <button mat-button [id]="node.id" class="device-tree-node-text">
          {{node.name}}
        </button>

      </mat-tree-node>

      <!-- SubCatalog节点 -->
      <mat-tree-node *matTreeNodeDef="let node; when: isDevice" matTreeNodeToggle matTreeNodePadding>
        <!--<button mat-icon-button disabled class="mat-tree-button"></button>-->

        <button mat-button [id]="node.id" class="device-tree-node-text">{{node.name}}</button>

      </mat-tree-node>
    </mat-tree>
  </div>

  <div fxFlex>
    <div>

      <label>url
        <input matInput id="url" [value]="urlPrefix" (change)="onInputUrlChang($event)"
               style="border: red solid; max-width: 400px;width: 400px;"/>
        <button mat-raised-button name="submit" (click)="getConfig()">获取</button>
      </label>

    </div>
    <div class="form">
      <div style="text-align:center">
        <h2>{{selectedCatalog.name}}</h2>
      </div>
      <app-dynamic-form #dyForm [fields]="fieldConfigBehavior | async" (submit)="submit($event)">
      </app-dynamic-form>
    </div>
  </div>
  <div fxFlex="40%" style="overflow: auto">
    <prettyjson [obj]="getValueAsync(true) | async"></prettyjson>
    <prettyjson [obj]="getValueAsync(false) | async"></prettyjson>
  </div>

</div>
